@import "../variables/variables";

.btn{
    border: none;
    
}
.btn :hover{ 
    scale: (10.5);
}
.textoft{
    font-style: italic;
    color: $color-secundario;
}
.icono-footer{
    img{
        width: 80px;
        margin-top: 15px;

    }
}
@media screen and (max-width: 991px){
    .pie-footer{
        font-size: 0;
    }
}