@import "../variables/variables";
   
.col-lg-6{
    h1{
        color: $color-secundario;
    }
    p{
        color: white;
    }   
}
.arrivals{
    border: none;
}

.grilla :hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    filter: sepia(40%)
}
.grilla{
    overflow: hidden;
}


// esta decision la tome, porque al reducir la pantalla, no logras el mismo efecto que con el mousse, y para no perder ese texto si no se lo apreta, lo dejo fijo, para que se visualice en los formatos mobiles.
@media screen and (max-width: 991px){
    .arrivals{
        background-color: #6c757d;
    }
}
