@import "../variables/variables";
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.imagen-contacto{
    img{
        width: 85%;
    }
}
.pantera{
    margin: auto;
    width: 70%;
}
.col-lg-6{
    margin-top: 15px;
    width: 90%;
}
// en el index no pude quitar el color azul que toman los <a> a referirse a enlaces del mismo proyecto
.btn-group{
    button{
        text-decoration: none;
        a{
            text-decoration: none;
            color: rgb(167, 240, 221);
        }
    }
}

.efecto-pages-men :hover {-webkit-transform:scale(1.3);transform:scale(1.3);
}
.efecto-pages-men{
    overflow: hidden;
}
.btn-man{
    a{
        color: $color-secundario;
    }
}