@import "../variables/variables";

.btn-wmn{

    a{
    color: $color-palt ;
    } 
}
.btn-wmn :hover{
    a{
        color: aliceblue;
    }
}
.txt{
    p{
        position: relative;
        margin: auto;
        max-width: 80%;
        color: $color-texto;
        font-size: medium;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 15px;
    }
}